/***** Tag Selector ****/

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	color: #44aec2;
	display: flex;
	font-size: 80px;
	justify-content: center;
}

p {
	text-align: center;
}

img {
	align-items: center;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

img:hover {
	background-color: #33425b;
}

/***** Class Selector ****/

.image-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-section figcaption {
	text-align: center;
}

.mountain {
	background-color: #44aec2;
}

.bacon {
	background-color: yellowgreen;
}

.strikethrough {
	position: relative;
}
.strikethrough:before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	right: 0;
	border-top: 1px solid;
	border-color: inherit;

	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
