body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

h1 {
	color: #44aec2;
	font-size: 80px;
	text-align: center;
}

p {
	text-align: center;
}

img {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #44aec2;
	border-radius: 10px;
}
