* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: 'Public Sans', sans-serif;
	font-weight: 600;
	line-height: 1;
	color: #222525;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	margin: 0 auto;
	font-family: 'Averia Serif Libre', Helvetica Neue, Helvetica, Arial,
		sans-serif;
	font-size: 4rem;
	color: #232323;
}

h2 {
	margin-top: 5px;
	font-size: 2rem;
}
h3 {
	margin-top: 5px;
	font-size: 1.5rem;
}

span[class='tech'] {
	text-decoration: underline;
	color: #b22727;
	font-weight: 950;
}

a {
	color: #004643;
	text-decoration: none;
}

a:visited {
	color: #0d4c92;
}

/*** Images ***/
.background-img {
	width: 25%;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.top-cloud {
	width: 110px;
	position: absolute;
	top: -2px;
	right: 350px;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.bottom-cloud {
	width: 90px;
	position: absolute;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.professional-picture {
	width: 13%;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.professional-skill {
	width: 35%;
	float: left;
	margin-right: 30px;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.professional-traveller {
	width: 35%;
	float: right;
	margin-left: 30px;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/**** CLASS SELECTORS ****/
.container {
	width: 100vw;
	position: relative;
	padding-top: 100px;
}

.container.top {
	line-height: 2;
}
.container.middle {
	line-height: 1.5;
}

.container.top p {
	font-size: 1.5rem;
	font-weight: normal;
}

.top {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: repeating-radial-gradient(
			circle at 0 0,
			transparent 0,
			#e5e5f7 10px
		),
		repeating-linear-gradient(#2daf9455, #2daf94);
	height: 100vh;
}

.middle {
	background-color: #f8f5f2;
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#2daf94 0.5px, transparent 0.5px),
		radial-gradient(#2daf94 0.5px, #e5e5f7 0.5px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.bottom {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-size: 20px 20px;
	background-image: repeating-linear-gradient(
		0deg,
		#2daf94,
		#2daf94 1px,
		#e5e5f7 1px,
		#e5e5f7
	);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socmed {
	display: flex;
	flex-direction: row;
}

.bottom a {
	display: flex;
	flex-direction: row;
	padding: 0 5px 5px 5px;
}

.bottom p {
	color: #222525;
	margin-top: 5px;
}

.btn {
	display: flex;
	background-color: #f9bc60;
	color: #0f3433;
	margin: 10px auto auto auto;
	border: 2px solid;
	text-transform: uppercase;
	width: 200px;
	height: 45px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.btn:hover {
	color: #e8e4e6;
	background-color: #b22727;
	cursor: pointer;
}

.copyright {
	padding: 0 0 25px 0;
}

.contact-me {
	display: flex;
	flex-direction: column;
}

.skill-row {
	width: 50%;
	margin: 100px auto;
	text-align: left;
	line-height: 2;
}

@media only screen and (max-width: 600px) {
	.background-img {
		width: 80%;
	}
	.top-cloud {
		width: 15%;
	}
	.bottom-cloud {
		width: 15%;
	}
	.professional-skill,
	.professional-traveller {
		width: 100%;
	}
	.professional-picture {
		width: 55%;
	}
	.skill-row {
		width: 75%;
		margin: 5% auto;
		text-align: left;
		line-height: 2;
	}
	.contact-me {
		width: 75%;
		margin: 0 auto;
	}
	.container .top {
		width: 70%;
		margin: 0 auto;
	}
}
